<nav class="navbar">
    <div class="container-fluid">
        <div>
            <h5>All Rights Reserved. COMP2112-Assignment1. &copy; Copyright 2022.</h5>
        </div>    
        <div class="social">
            <a href="https://github.com/sarahlochhead" target="_blank"><i class="fa-brands fa-github fa-3x p-4"></i></a>
            <a href="https://twitter.com/sarahlochhead" target="_blank"><i class="fa-brands fa-twitter fa-3x p-4"></i></a>
            <a href="https://www.linkedin.com/in/sarah-lochhead/" target="_blank"><i class="fa-brands fa-linkedin fa-3x p-4"></i></a>            
        </div>       
    </div>
</nav>  